@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

<div id="dialog" class="@(_isOpen ? "open" : "")">
    <div>
        <div id="closeButton" @onclick="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>
        @if (_isShowResults)
        {
            <div id="results">
                results
            </div>
        }
        <div>
            <h2>How To Play</h2>
            <p>Choose letters to guess the phrase. Press solve to fill in the blanks. Score high with as much time and as many letters remaining.</p>
        </div>
    </div>
</div>

@code {
    private bool _isShowResults;
    private bool _isOpen;

    protected override void OnInitialized()
    {
        _isOpen = true;
    }

    private void Close()
    {
        _isOpen = false;
        StateHasChanged();
    }

}
