@using Phrazy.Client.Services
@using Phrazy.Client.Models
@inject IGameEngine GameEngine
@inject IJSRuntime JsRuntime

<button class="key @GameEngine.GameState.KeyStates[Letter]" @onclick="Click" style="@(GameEngine.GameState.IsGameOver ? "cursor:default;" : "")">@Letter</button>

@code {
    [Parameter]
    public string Letter { get; set; } = null!;

    protected override void OnInitialized()
    {
        GameEngine.OnKeyPress += StateHasChanged;
    }

    protected override void OnParametersSet()
    {
    }

    private async Task Click()
    {
        await JsRuntime.InvokeVoidAsync("focusElement", "#gameContainer");
        await GameEngine.ChooseLetter(Letter);
    }

}
