@using Phrazy.Client.Services
@using Phrazy.Client.Models
@inject IGameEngine _gameEngine
@inject IJSRuntime _jsRuntime

<button class="key @_gameEngine.GameState.KeyStates[Letter]" @onclick="Click">@Letter</button>

@code {
    [Parameter]
    public string Letter { get; set; } = null!;

    protected override void OnInitialized()
    {
        _gameEngine.OnKeyPress += StateHasChanged;
    }

    protected override void OnParametersSet()
    {
    }

    private async Task Click()
    {
        await _jsRuntime.InvokeVoidAsync("focusElement", "#gameContainer");
        await _gameEngine.ChooseLetter(Letter);
    }

}
