<div id="keyboard">
    <div class="keyboardRow">
        <Key Letter="q"></Key>
        <Key Letter="w"></Key>
        <Key Letter="e"></Key>
        <Key Letter="r"></Key>
        <Key Letter="t"></Key>
        <Key Letter="y"></Key>
        <Key Letter="u"></Key>
        <Key Letter="i"></Key>
        <Key Letter="o"></Key>
        <Key Letter="p"></Key>
    </div>
    <div class="keyboardRow">
        <Key Letter="a"></Key>
        <Key Letter="s"></Key>
        <Key Letter="d"></Key>
        <Key Letter="f"></Key>
        <Key Letter="g"></Key>
        <Key Letter="h"></Key>
        <Key Letter="j"></Key>
        <Key Letter="k"></Key>
        <Key Letter="l"></Key>
    </div>
    <div class="keyboardRow">
        <Key Letter="z"></Key>
        <Key Letter="x"></Key>
        <Key Letter="c"></Key>
        <Key Letter="v"></Key>
        <Key Letter="b"></Key>
        <Key Letter="n"></Key>
        <Key Letter="m"></Key>
    </div>
</div>

@code {

}
