@using Phrazy.Client.Models
@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

@*<div class="letter @PhraseLetterStateBox.PhraseLetterState">
    @if (PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Guessed or PhraseLetterState.Special)
    {
        @PhraseLetterStateBox.Letter
    }
</div>
*@
<div class="letter">
    <div class="letterContainer @(PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Guessed or PhraseLetterState.Special ? "flipped" : "")">
        <div></div>
        <div class="Guessed">@(PhraseLetterStateBox.PhraseLetterState is PhraseLetterState.Guessed or PhraseLetterState.Special ? PhraseLetterStateBox.Letter : "")</div>
    </div>
</div>

@code {
    [Parameter]
    public PhraseLetterStateBox PhraseLetterStateBox { get; set; } = null!;

    private string _letter = string.Empty;

    protected override void OnInitialized()
    {
        _gameEngine.OnKeyPress += StateHasChanged;
    }
}
