@using Phrazy.Client.Services
@using Phrazy.Client.Models
@inject IGameEngine _gameEngine

<div id="phraseBoard">

	<Wrong></Wrong>
    
	@if (_words != null)
	{
		foreach (var word in _words)
		{
			<PhraseWord Word="@word"></PhraseWord>
		}
	}
</div>

<CancelSolveButton></CancelSolveButton>

@code {
    private List<List<PhraseLetterStateBox>> _words = null!;

    protected override async Task OnInitializedAsync()
    {
	    _gameEngine.OnBoardLoad += Load;
	    var words = await _gameEngine.Start();
	    if (words != null)
		    _words = words;
    }

	private void Load()
	{
		StateHasChanged();
	}
}
