@using Phrazy.Client.Services
@using Phrazy.Client.Models
@inject IGameEngine _gameEngine;

<div id="scoreTrail">
    @for (int x = 0; x < _gameEngine.GuessRecords!.Count; x++)
    {
        <div class="scoreBox">
            <div class="scoreIndicator @(_gameEngine.GuessRecords[x].IsCorrect ? "guessCorrect" : "guessWrong") @(x == _gameEngine.GuessRecords.Count - 1 ? "explode" : "")"></div>
        </div>
    }
    @for (int x = 0; x < 26 - _gameEngine.GuessRecords.Count; x++)
    {
        <div class="scoreBox">
            <div class="scoreIndicator"></div>
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        _gameEngine.OnKeyPress += StateHasChanged;
    }
}
