@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

<div id="wrong" class="@_flashClass">
    <div>WRONG</div>
</div>

@code {
    private string _flashClass = string.Empty;
    private System.Timers.Timer _timer = null!;

    protected override void OnInitialized()
    {
        _gameEngine.OnWrongSolve += Flash;
    }

    private void Flash()
    {
        _timer = null!;
        _flashClass = string.Empty;
        _flashClass = "flash";
        StateHasChanged();
        _timer = new System.Timers.Timer(2100);
        _timer.Elapsed += (sender, args) => TimerCallback();
        _timer.Enabled = true;
    }

    private void TimerCallback()
    {
        _flashClass = string.Empty;
        StateHasChanged();
        _timer.Enabled = false;
        _timer = null!;
    }

}
