@page "/"
@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

<PageTitle>Phrazy</PageTitle>

<div id="gameContainer">
    <PhraseBoard></PhraseBoard>

    <Keyboard></Keyboard>
</div>

@code {

    protected override void OnInitialized()
    {
        _gameEngine.Start();
    }

}