@page "/"

<PageTitle>Phrazy</PageTitle>

<div id="gameContainer">
    <PhraseBoard></PhraseBoard>

    <Keyboard></Keyboard>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {

    }

}