@page "/"
@using Phrazy.Client.Services
@using System.Text.RegularExpressions
@inject IGameEngine _gameEngine
@inject IJSRuntime _jsRuntime

<PageTitle>Phonical</PageTitle>

<div id="gameContainer" tabindex="0" @onkeydown="HandleKey">
    <header>
        <div>Codename: Phonical</div>
    </header>
    <PhraseBoard></PhraseBoard>
    
    <ScoreTrail></ScoreTrail>

    <Keyboard></Keyboard>
</div>

@code {

    protected override void OnInitialized()
    {
        _gameEngine.Start();
    }

    private void HandleKey(KeyboardEventArgs e)
    {
        if (Regex.IsMatch(e.Key, "^[a-zA-Z]{1}$") || e.Key == " " || e.Key.ToLower() == "backspace")
        {
            _gameEngine.ChooseLetter(e.Key.ToLower());
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _jsRuntime.InvokeVoidAsync("focusElement", "#gameContainer");
    }

}