@page "/"
@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

<PageTitle>Phonical</PageTitle>

<div id="gameContainer">
    <header>
        <div>Codename: Phonical</div>
    </header>
    <PhraseBoard></PhraseBoard>

    <Keyboard></Keyboard>
</div>

@code {

    protected override void OnInitialized()
    {
        _gameEngine.Start();
    }

}