@using Phrazy.Client.Services
@using Phrazy.Client.Models
@inject IGameEngine _gameEngine;

<div id="phraseBoard">
    @foreach (var word in _words)
    {
        <PhraseWord Word="@word"></PhraseWord>
    }
</div>

@code {
    private List<List<PhraseLetterStateBox>> _words;

    protected override Task OnInitializedAsync()
    {
        _words = _gameEngine.Start();
        return base.OnInitializedAsync();
    }
}
