@using Phrazy.Client.Services
@inject IGameEngine _gameEngine;

<div id="phraseBoard">
    @foreach (var word in _words)
    {
        <PhraseWord Word="@word"></PhraseWord>
    }
</div>

@code {
    private List<string> _words;

    protected override Task OnInitializedAsync()
    {
        _words = "too cool for elementary school".Split(' ').ToList();
        return base.OnInitializedAsync();
    }
}
