@using Phrazy.Client.Models
<div class="word">
    @foreach (var letter in Word)
    {
        <PhraseLetter PhraseLetterStateBox="@letter"></PhraseLetter>
    }
</div>

@code {
    [Parameter]
    public List<PhraseLetterStateBox> Word { get; set; } = null!;

    protected override void OnParametersSet()
    {
    }
}
