@using Phrazy.Client.Models
@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

<div class="letter @PhraseLetterStateBox.PhraseLetterState">
    @PhraseLetterStateBox.Letter
</div>

@code {
    [Parameter]
    public PhraseLetterStateBox PhraseLetterStateBox { get; set; }

    protected override void OnInitialized()
    {
        _gameEngine.OnKeyPress += StateHasChanged;
    }
}
