@using Phrazy.Client.Models
@using Phrazy.Client.Services
@inject IGameEngine _gameEngine

<div class="letter @PhraseLetterStateBox.PhraseLetterState">
    @if (PhraseLetterStateBox.PhraseLetterState == PhraseLetterState.Guessed)
    {
        @PhraseLetterStateBox.Letter
    }
</div>

@code {
    [Parameter]
    public PhraseLetterStateBox PhraseLetterStateBox { get; set; } = null!;

    private string _letter = string.Empty;

    protected override void OnInitialized()
    {
        _gameEngine.OnKeyPress += StateHasChanged;
    }
}
